.listing-page {
    padding: 0 5%;
    color: var(--main);
}

.listing-main-info {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
} 

.listing-information h1 {
    font-size: 36px;
    font-weight: 500;
}

.listing-all-tags ul {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.listing-all-tags li {
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.listing-host-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listing-host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.listing-host p {
    max-width: 100px;
    white-space: wrap;
    text-align: right;
}

.listing-host img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 10px;
}

.listing-rating {
    margin-top: 10px;
    min-width: 200px;
}

.listing-rating img {
    margin-left: 10px;
}

.listing-desc-equip {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.listing-desc-equip div {
    width: 100%;
}

.listing-desc-equip div:nth-child(1) {
    margin-right: 75px;
}

@media screen and (max-width: 750px) {
    .listing-main-info {
        flex-direction: column;
    }

    .listing-rating {
        margin-top: 0;
        min-width: 100px;
    }

    .listing-host-rating {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 15px;
    }

    .listing-desc-equip {
        flex-direction: column;
    }

    .collapse:nth-child(2) {
        margin-top: 30px;
    }

}