.cards-list {
    height: auto;
    margin: 30px 5%;
    padding: 10px;
    background-color: var(--light-grey);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-list li {
    list-style-type: none;
    width: 30%;
    max-width: 340px;
    margin: 10px;
    height: 340px;
    position: relative;
}

@media screen and (max-width: 750px) {
    .cards-list {
        flex-direction: column;
        background-color: var(--white);
        align-items: center;
        margin: 30px 0;
    }

    .cards-list li {
        list-style-type: none;
        width: 90%;
        max-width: none;
        min-width: 335px;
        margin: 10px;
        height: 255px;
        position: relative;
        background-color: var(--white);
    }
}