header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding: 30px 5%;
}

header a {
    color: var(--main);
    text-decoration: none;
}

header .navlink {
    margin-left: 40px;
}

header a:hover {
    text-decoration: underline;
}

nav .active-link {
    text-decoration: underline;
}