.banner-container {
    position: relative;
    width: 90%;
    max-width: 1240px;
    height: 223px;
    margin-top: 65px;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 223px;
    width: 100%;
    background: rgba(0,0,0, .3);
    border-radius: 25px;
}

.banner-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.banner-container h1 {
    position: absolute;
    width: 90%;
    font-weight: 500;
    color: var(--white);
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}