.not-found-container {
    width: 100%;
    padding-top: 7%;
    text-align: center;
    color: var(--main);
}

.not-found-container a {
    color: var(--main);
}

.not-found-header {
    font-size: 288px;
    font-weight: 700;
}

.not-found-text {
    margin-bottom: 150px;
}

@media screen and (max-width: 750px) {
    
    .not-found-header {
        font-size: 96px;
    }
    
}